---
import Layout from '../layouts/Layout.astro';
import SliderImg from '../components/sliderImg.astro';
import CuartosDispinibles from '../components/CuartosDispinibles.astro';
---

<Layout title='information'>
    <main>
        <SliderImg/>
        <CuartosDispinibles/>
    </main>
</Layout>
